[Unit]
Description=Streamlit Operação Liquida BB
After=network.target
[Service]
User=renato.ferreira
WorkingDirectory=/home/renato.ferreira/repositorio_producao/webapp_baixa_prazos_quintao
ExecStart=/home/renato.ferreira/repositorio_producao/webapp_baixa_prazos_quintao/venv/bin/streamlit run run_app.py --server.port 8511 --server.runOnSave False --browser.gatherUsageStats False
Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target